<div id="main-create-task"
<div>


<%= form_with model: [@categories,@categories.tasks.build] do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
  <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
  <% end %>
      </ul>
    
  <% end %>
  
  
 <div id="create-task">
  <div>
  <h1>New Task</h1>
</div>

<div>
      <%= form.label :Task_name %>
      <%= form.text_field :taskname%>
</div>
      <br>

<div>
      <%= form.label :Description %>
      <%= form.text_area :taskbody%>
</div>
      <br>

<div>
      <%= form.label :Time %>
      <%= form.text_field :tasktime%>
</div>
      <br>
      <div>
      <%=form.submit "Submit" %>
      </div>
      <br>
      <div>
      <button class="button" style="margin-left:0"> <%= link_to 'Cancel' , category_tasks_path %>
      </div>
</div>
</div>
    <% end %>
   
</div>
</div>
</div>