<p id="notice"><%= notice %></p>
<div id="showcss">
<div id="category-show">

<div><h1 h1> Category Details </h1>
</div>
<div>
  Category name: <%= @categories.categoryname %>
</div>
<br>
<div>
 Description : <%= @categories.categorybody %>
</div>
<br>
<div>

  User id:  <%= @categories.user_id %>
</div>
<br>
<div>

  Time created: <%= @categories.created_at %>
</div>
<br>
<div>
  Update Time: <%= @categories.updated_at %>
</div>
<br>
</div>

</div>

<div id="category-showlinks">


<div><button class="button"><%= link_to 'Back', categories_path %></button></div>
<div><button class="button"><%= link_to 'Add Task', new_category_task_path(@categories,@task) %></button></div>
<div><button class="button"><%= link_to 'Show Task', category_tasks_path(@categories) %></button></div>

</div>




