<!DOCTYPE html>
<html>
  <head>
    <title>Journalv</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if user_signed_in? %>
  <div id="devise-main">
  <div style=  "width:auto;"><h1><%=current_user.email%></h1></div>
 <div><h1> My Journal </h1></div>
  <div><button class="button"><%= link_to 'Signout',destroy_user_session_path,method: :delete,data:{confirm:"Sign out now?"}%></button></div>
  </div>
  <%end%>
  </div>
  </div>
    <%= yield %>
  </body>
</html>
